In [81]:
import pandas as pd
import numpy as np
import os
import re

In [82]:
df_nba_personal = pd.read_csv('./processed/nba_personal.csv')
df_nba_stats = pd.read_csv('./processed/nba_stats.csv')
df_nba_experience = pd.read_csv('./processed/nba_experience.csv')
df_nba_season = pd.read_csv('./processed/nba_season.csv')

In [83]:
df_exemplo = pd.read_csv('./dataset/results/nba_stats.csv')

In [84]:
df_nba_personal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8164 entries, 0 to 8163
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   playerId    8164 non-null   int64
 1   playerSlug  8164 non-null   object
 2   college     6752 non-null   object
 3   draftinfo   6979 non-null   object
 4   name        8164 non-null   object
 5   birthdate   8164 non-null   object
 6   birthplace  7949 non-null   object
 7   year        8164 non-null   int64
 8   height      2304 non-null   object
 9   weight      2304 non-null   object
dtypes: int64(2), object(8)
memory usage: 637.9+ KB

In [85]:
df_nba_stats.head()
df_nba_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8164 entries, 0 to 8163
Data columns (total 40 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   playerId                          8164 non-null   int64
 1   gamesPlayed                       8163 non-null   float64
 2   avgMinutes                        8161 non-null   float64
 3   avgFouls                          8164 non-null   float64
 4   flagrantFouls                     8164 non-null   float64
 5   technicalFouls                    8164 non-null   float64
 6   ejections                         8164 non-null   float64
 7   doubleDouble                      8164 non-null   float64
 8   tripleDouble                      8164 non-null   float64
 9   minutes                           8164 non-null   float64
 10  rebounds                          8164 non-null   float64
 11  fouls                             8164 non-null   float64
 12  avgRebounds                       8164 non-null   float64
 13  avgPoints                         8164 non-null   float64
 14  avgFieldGoalsMade                 8164 non-null   float64
 15  avgFieldGoalsAttempted            8164 non-null   float64
 16  fieldGoalPct                      8164 non-null   float64
 17  avgThreePointFieldGoalsMade       8164 non-null   float64
 18  avgThreePointFieldGoalsAttempted  8164 non-null   float64
 19  threePointFieldGoalPct            8164 non-null   float64
 20  avgFreeThrowsMade                 8164 non-null   float64
 21  avgFreeThrowsAttempted            8164 non-null   float64
 22  freeThrowPct                      8164 non-null   float64
 23  avgAssists                        8164 non-null   float64
 24  avgTurnovers                      8164 non-null   float64
 25  points                            8164 non-null   float64
 26  fieldGoalsMade                    8164 non-null   float64
 27  fieldGoalsAttempted               8164 non-null   float64
 28  threePointFieldGoalsMade          8164 non-null   float64
 29  threePointFieldGoalsAttempted     8164 non-null   float64
 30  freeThrowsMade                    8164 non-null   float64
 31  freeThrowsAttempted               8164 non-null   float64
 32  assists                           8164 non-null   float64
 33  turnovers                         8164 non-null   float64
 34  avgSteals                         8164 non-null   float64
 35  avgBlocks                         8164 non-null   float64
 36  steals                            8164 non-null   float64
 37  blocks                            8164 non-null   float64
 38  totalPoints                       8160 non-null   float64
 39  year                              8164 non-null   int64
dtypes: float64(38), int64(2)
memory usage: 2.5 MB

In [86]:
df_integrado = df_nba_personal.merge(df_nba_season, on=['playerId', 'year']).merge(
    df_nba_experience, on=['playerId', 'year']).merge(
    df_nba_stats, on=['playerId', 'year'])


df_integrado

,playerId,playerSlug,college,draftinfo,name,birthdate,birthplace,year,height,weight,...,threePointFieldGoalsAttempted,freeThrowsMade,freeThrowsAttempted,assists,turnovers,avgSteals,avgBlocks,steals,blocks,totalPoints
0,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",1999,NaN,NaN,...,199.0,356.0,474.0,223.0,167.0,2.291667,0.145833,110.0,7.0,994.999968
1,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",1999,NaN,NaN,...,199.0,356.0,474.0,223.0,167.0,2.291667,0.145833,110.0,7.0,994.999968
2,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",1999,NaN,NaN,...,199.0,356.0,474.0,223.0,167.0,2.291667,0.145833,110.0,7.0,994.999968
3,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",1999,NaN,NaN,...,199.0,356.0,474.0,223.0,167.0,2.291667,0.145833,110.0,7.0,994.999968
4,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",1999,NaN,NaN,...,199.0,356.0,474.0,223.0,167.0,2.291667,0.145833,110.0,7.0,994.999968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8187,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2000,NaN,NaN,...,261.0,442.0,620.0,328.0,230.0,2.057143,0.071429,144.0,5.0,99999.000000
8188,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2000,NaN,NaN,...,261.0,442.0,620.0,328.0,230.0,2.057143,0.071429,144.0,5.0,99999.000000
8189,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2000,NaN,NaN,...,261.0,442.0,620.0,328.0,230.0,2.057143,0.071429,144.0,5.0,99999.000000
8190,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2000,NaN,NaN,...,261.0,442.0,620.0,328.0,230.0,2.057143,0.071429,144.0,5.0,99999.000000
8191,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2000,NaN,NaN,...,261.0,442.0,620.0,328.0,230.0,2.057143,0.071429,144.0,5.0,99999.000000

In [87]:
os.mkdir('./results')
df_integrado.to_csv("./results/nba_stats.csv", index=False)