In [15]:
import pandas as pd
import numpy as np
import os
import re

In [16]:
df_nba_personal = pd.read_csv('./processed/nba_personal.csv')
df_nba_stats = pd.read_csv('./processed/nba_stats.csv')
df_nba_experience = pd.read_csv('./processed/nba_experience.csv')
df_nba_season = pd.read_csv('./processed/nba_season.csv')

In [17]:
df_exemplo = pd.read_csv('./dataset/results/nba_stats.csv')

,year,name,playerId,playerSlug,positionId,teamId,status,gamesPlayed,avgMinutes,avgFouls,...,birthdate,college,draftinfo,birthplace,team,experience,rankingSalary,salary,weight,height
0,1999,Allen Iverson,366,allen-iverson,SG,PHI,inactive,48.0,41.458332,2.041667,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,15,"$9,000,000",NaN,NaN
1,2000,Allen Iverson,366,allen-iverson,SG,PHI,inactive,70.0,40.757140,2.314286,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,27,"$10,125,000",NaN,NaN
2,2001,Allen Iverson,366,allen-iverson,SG,PHI,inactive,71.0,41.957745,2.070423,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,17,"$11,250,000",NaN,NaN
3,2002,Allen Iverson,366,allen-iverson,SG,PHI,inactive,60.0,43.700000,1.700000,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,14,"$12,375,000",NaN,NaN
4,2003,Allen Iverson,366,allen-iverson,SG,PHI,inactive,82.0,42.500000,1.817073,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,11,"$13,500,000",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8157,2023,Peyton Watson,4576087,peyton-watson,F,DEN,active,23.0,8.086957,0.608696,...,9/11/2002 (20),UCLA,"2022: Rd 1, Pk 30 (OKC)","Long Beach, CA",Denver Nuggets,Rookie,277,"$2,303,520","6' 8""",200 lbs
8158,2023,Josh Minott,4687718,josh-minott,F,MIN,active,15.0,6.400000,0.666667,...,7/25/2002 (20),Memphis,"2022: Rd 2, Pk 45 (CHA)","Boca Raton, FL",Minnesota Timberwolves,Rookie,332,"$1,719,864","6' 8""",205 lbs
8159,2023,Dalen Terry,4433159,dalen-terry,F,CHI,active,38.0,5.631579,0.631579,...,7/12/2002 (20),Arizona,"2022: Rd 1, Pk 18 (CHI)","Phoenix, AZ",Chicago Bulls,Rookie,238,"$3,350,760","6' 7""",200 lbs
8160,2023,Ryan Rollins,4591725,ryan-rollins,G,GS,active,12.0,5.166666,0.833333,...,7/3/2002 (21),Toledo,"2022: Rd 2, Pk 44 (ATL)","Macomb, MI",Golden State Warriors,Rookie,334,"$1,719,864","6' 3""",180 lbs
8161,2023,Tyrese Martin,4397179,tyrese-martin,G,ATL,active,16.0,4.125000,0.125000,...,3/7/1999 (24),UConn,"2022: Rd 2, Pk 51 (GS)","Allentown, PA",Atlanta Hawks,Rookie,336,"$1,719,864","6' 6""",215 lbs

In [18]:
df_nba_personal.head()

,playerId,playerSlug,college,draftinfo,name,birthdate,birthplace,year,height,weight
0,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",1999,NaN,NaN
1,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2000,NaN,NaN
2,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2001,NaN,NaN
3,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2002,NaN,NaN
4,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2003,NaN,NaN

In [19]:
df_nba_stats.head()

Index(['playerId', 'gamesPlayed', 'avgMinutes', 'avgFouls', 'flagrantFouls',
       'technicalFouls', 'ejections', 'doubleDouble', 'tripleDouble',
       'minutes', 'rebounds', 'fouls', 'avgRebounds', 'avgPoints',
       'avgFieldGoalsMade', 'avgFieldGoalsAttempted', 'fieldGoalPct',
       'avgThreePointFieldGoalsMade', 'avgThreePointFieldGoalsAttempted',
       'threePointFieldGoalPct', 'avgFreeThrowsMade', 'avgFreeThrowsAttempted',
       'freeThrowPct', 'avgAssists', 'avgTurnovers', 'points',
       'fieldGoalsMade', 'fieldGoalsAttempted', 'threePointFieldGoalsMade',
       'threePointFieldGoalsAttempted', 'freeThrowsMade',
       'freeThrowsAttempted', 'assists', 'turnovers', 'avgSteals', 'avgBlocks',
       'steals', 'blocks', 'totalPoints', 'year'],
      dtype='object')

In [22]:
df_integrado = pd.merge(df_nba_personal, df_nba_season,
                        how='left', on=['playerId','year'])

df_integrado

,playerId,playerSlug,college,draftinfo,name,birthdate,birthplace,year,height,weight,positionId,position,teamId,team,status
0,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",1999,NaN,NaN,SG,Shooting Guard,PHI,NaN,inactive
1,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",1999,NaN,NaN,SG,Shooting Guard,PHI,NaN,inactive
2,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2000,NaN,NaN,SG,Shooting Guard,PHI,NaN,inactive
3,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2000,NaN,NaN,SG,Shooting Guard,PHI,NaN,inactive
4,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2001,NaN,NaN,SG,Shooting Guard,PHI,NaN,inactive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8163,4397179,tyrese-martin,UConn,"2022: Rd 2, Pk 51 (GS)",Tyrese Martin,3/7/1999 (24),"Allentown, PA",2023,"6' 6""",215 lbs,G,Guard,ATL,Atlanta Hawks,active
8164,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",1999,NaN,NaN,SG,Shooting Guard,PHI,NaN,inactive
8165,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",1999,NaN,NaN,SG,Shooting Guard,PHI,NaN,inactive
8166,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2000,NaN,NaN,SG,Shooting Guard,PHI,NaN,inactive
8167,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,"Hampton, VA",2000,NaN,NaN,SG,Shooting Guard,PHI,NaN,inactive