In [169]:
import pandas as pd
import numpy as np
import os
import re

In [170]:
df_nba_personal = pd.read_csv('./processed/nba_personal.csv')
df_nba_stats = pd.read_csv('./processed/nba_stats.csv')
df_nba_experience = pd.read_csv('./processed/nba_experience.csv')
df_nba_season = pd.read_csv('./processed/nba_season.csv')

In [171]:
df_exemplo = pd.read_csv('./dataset/results/nba_stats.csv')

In [172]:
df_nba_personal.head()

,playerId,playerSlug,college,draftinfo,name,birthdate,birthplace,height,weight
0,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,Hampton,NaN,NaN
1,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,Hampton,NaN,NaN
2,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,Hampton,NaN,NaN
3,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,Hampton,NaN,NaN
4,366,allen-iverson,Georgetown,"1996: Rd 1, Pk 1 (PHI)",Allen Iverson,6/7/1975,Hampton,NaN,NaN

In [173]:
df_nba_experience.head()

   playerId      salary  rankingSalary experience
0       366   9000000.0             15        NaN
1       366  10125000.0             27        NaN
2       366  11250000.0             17        NaN
3       366  12375000.0             14        NaN
4       366  13500000.0             11        NaN

In [185]:
df_nba_stats.head()

,playerId,gamesPlayed,avgMinutes,avgFouls,flagrantFouls,technicalFouls,ejections,doubleDouble,tripleDouble,minutes,...,threePointFieldGoalsAttempted,freeThrowsMade,freeThrowsAttempted,assists,turnovers,avgSteals,avgBlocks,steals,blocks,totalPoints
0,366,NaN,NaN,2.041667,0.0,5.0,0.0,4.0,0.0,1990.0,...,199.0,356.0,474.0,223.0,167.0,2.291667,0.145833,110.0,7.0,994.999968
1,366,NaN,NaN,2.314286,0.0,12.0,0.0,1.0,0.0,2853.0,...,261.0,442.0,620.0,328.0,230.0,2.057143,0.071429,144.0,5.0,99999.000000
2,366,NaN,NaN,2.070423,0.0,18.0,0.0,4.0,0.0,2979.0,...,306.0,585.0,719.0,325.0,237.0,2.507042,0.281690,178.0,20.0,NaN
3,366,60.0,NaN,2.000000,0.0,12.0,1.0,4.0,1.0,2622.0,...,268.0,475.0,585.0,331.0,237.0,2.800000,0.216667,168.0,13.0,NaN
4,366,82.0,2.314286,1.829268,0.0,8.0,0.0,6.0,0.0,3485.0,...,303.0,570.0,736.0,454.0,286.0,2.743902,0.158537,225.0,13.0,NaN
5,366,NaN,42.500000,1.812500,0.0,7.0,0.0,8.0,0.0,2040.0,...,199.0,339.0,455.0,324.0,209.0,2.395833,0.104167,115.0,5.0,NaN
6,366,75.0,42.320000,1.866667,0.0,10.0,0.0,24.0,0.0,3174.0,...,338.0,656.0,786.0,596.0,344.0,2.400000,0.120000,180.0,9.0,1587.000000
7,366,72.0,43.097220,1.680556,0.0,13.0,0.0,18.0,0.0,3103.0,...,223.0,675.0,829.0,532.0,248.0,1.944444,0.138889,140.0,10.0,1551.499920
8,366,65.0,42.476925,1.461538,0.0,12.0,1.0,17.0,0.0,2761.0,...,197.0,485.0,610.0,468.0,268.0,1.892308,0.200000,123.0,13.0,1380.500063
9,366,82.0,41.756096,1.329268,0.0,1000.0,1.0,15.0,0.0,3424.0,...,275.0,645.0,797.0,586.0,245.0,1.951220,0.146341,160.0,12.0,1711.999936
10,366,57.0,36.719300,1.508772,0.0,5.0,0.0,2.0,0.0,2093.0,...,99.0,271.0,347.0,1005.0,146.0,1.543860,0.105263,88.0,6.0,1046.500050
11,366,28.0,30.892857,1.714286,0.0,1.0,0.0,0.0,0.0,865.0,...,25.0,104.0,131.0,113.0,64.0,0.678571,0.071429,19.0,2.0,432.499998
12,429,50.0,41.200000,2.160000,0.0,0.0,0.0,30.0,7.0,2060.0,...,123.0,181.0,239.0,539.0,150.0,2.280000,0.380000,114.0,19.0,1030.000000
13,429,67.0,39.044777,2.208955,0.0,1.0,0.0,36.0,5.0,2616.0,...,166.0,203.0,245.0,678.0,226.0,2.000000,0.417910,134.0,28.0,1308.000030
14,429,77.0,39.805195,2.220779,0.0,2.0,0.0,33.0,7.0,3065.0,...,232.0,328.0,403.0,753.0,286.0,2.155844,0.298701,166.0,23.0,1532.500007
15,429,82.0,37.268290,1.658537,0.0,2.0,0.0,44.0,8.0,3056.0,...,364.0,201.0,247.0,808.0,286.0,2.134146,0.243902,175.0,20.0,1527.999890
16,429,80.0,37.362500,1.587500,0.0,4.0,1.0,31.0,4.0,2989.0,...,370.0,339.0,403.0,711.0,296.0,2.237500,0.312500,179.0,25.0,1494.500000
17,429,66.0,36.893940,1.666667,0.0,2.0,0.0,26.0,8.0,2435.0,...,358.0,142.0,192.0,545.0,167.0,1.863636,0.136364,123.0,9.0,1217.500020
18,429,80.0,37.187500,1.962500,0.0,2.0,0.0,28.0,8.0,2975.0,...,395.0,194.0,244.0,672.0,192.0,1.875000,0.362500,150.0,29.0,1487.500000
19,429,80.0,36.662500,1.825000,0.0,3.0,1.0,32.0,12.0,2933.0,...,361.0,179.0,230.0,736.0,213.0,1.587500,0.287500,127.0,23.0,1466.500000

In [184]:
df_nba_season.head()

    playerId  year positionId        position teamId team    status
0        366  1999         SG  Shooting Guard    PHI  NaN  inactive
1        366  2000         SG  Shooting Guard    PHI  NaN  inactive
2        366  2001         SG  Shooting Guard    PHI  NaN  inactive
3        366  2002         SG  Shooting Guard    PHI  NaN  inactive
4        366  2003         SG  Shooting Guard    PHI  NaN  inactive
5        366  2004         SG  Shooting Guard    PHI  NaN  inactive
6        366  2005         SG  Shooting Guard    PHI  NaN  inactive
7        366  2006         SG  Shooting Guard    PHI  NaN  inactive
8        366  2007         SG  Shooting Guard    DEN  NaN  inactive
9        366  2008         SG  Shooting Guard    DEN  NaN  inactive
10       366  2009         SG  Shooting Guard    DET  NaN  inactive
11       366  2010         SG  Shooting Guard    PHI  NaN  inactive
12       429  1999         PG     Point Guard    PHX  NaN  inactive
13       429  2000         PG     Point Guard    PHX  NaN  inactive
14       429  2001         PG     Point Guard    PHX  NaN  inactive
15       429  2002         PG     Point Guard     NJ  NaN  inactive
16       429  2003         PG     Point Guard     NJ  NaN  inactive
17       429  2005         PG     Point Guard     NJ  NaN  inactive
18       429  2006         PG     Point Guard     NJ  NaN  inactive
19       429  2007         PG     Point Guard     NJ  NaN  inactive

In [210]:
df_integrado = pd.merge(df_nba_stats,df_nba_personal, how='left',on='playerId')
len(df_integrado)

65592

In [200]:
df_exemplo.head(10)

,year,name,playerId,playerSlug,positionId,teamId,status,gamesPlayed,avgMinutes,avgFouls,...,birthdate,college,draftinfo,birthplace,team,experience,rankingSalary,salary,weight,height
0,1999,Allen Iverson,366,allen-iverson,SG,PHI,inactive,48.0,41.458332,2.041667,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,15,"$9,000,000",NaN,NaN
1,2000,Allen Iverson,366,allen-iverson,SG,PHI,inactive,70.0,40.757140,2.314286,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,27,"$10,125,000",NaN,NaN
2,2001,Allen Iverson,366,allen-iverson,SG,PHI,inactive,71.0,41.957745,2.070423,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,17,"$11,250,000",NaN,NaN
3,2002,Allen Iverson,366,allen-iverson,SG,PHI,inactive,60.0,43.700000,1.700000,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,14,"$12,375,000",NaN,NaN
4,2003,Allen Iverson,366,allen-iverson,SG,PHI,inactive,82.0,42.500000,1.817073,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,11,"$13,500,000",NaN,NaN
5,2004,Allen Iverson,366,allen-iverson,SG,PHI,inactive,48.0,42.500000,1.812500,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,8,"$14,625,000",NaN,NaN
6,2005,Allen Iverson,366,allen-iverson,SG,PHI,inactive,75.0,42.320000,1.866667,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,4,"$16,453,125",NaN,NaN
7,2006,Allen Iverson,366,allen-iverson,SG,PHI,inactive,72.0,43.097220,1.680556,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,7,"$17,184,375",NaN,NaN
8,2007,Allen Iverson,366,allen-iverson,SG,DEN,inactive,65.0,42.476925,1.461538,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,7,"$19,012,500",NaN,NaN
9,2008,Allen Iverson,366,allen-iverson,SG,DEN,inactive,82.0,41.756096,1.329268,...,6/7/1975,Georgetown,"1996: Rd 1, Pk 1 (PHI)","Hampton, VA",NaN,NaN,6,"$20,840,625",NaN,NaN